.App {
  text-align: center;
  background-color: rgb(104, 197, 197);
  min-width: 100vw;
  min-height: 100vh;
}

.restart-button {
  padding: 10px 25px;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  border: 4px double white;
  border-radius: 5px;
  background-color: white;
  transition: background-color ease-in 0.5s;
}

.restart-button:hover {
  cursor: pointer;
  background-color: rgb(155, 218, 142);
}

.restart-button:focus {
  outline: none;
}